@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --bc: rgb(184, 181, 181);
    --nc:#F1D302;
    --gc:#235789;
    --hc:#C1292E;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-left: 20px;
    text-align: center;
    text-shadow:0px 4px 10px rgba(0, 0, 0, 0.258);
}

h2 {
    color:#161925;
    font-size: 25px ;
    margin-left:20px;
    text-shadow:0px 4px 10px rgba(0, 0, 0, 0.258);
}

.user {
    display: inline-flex;
    align-items: center;
}



.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }
  
  .submit-btn {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #161925;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }
  

a {
    text-decoration: none;
}

button {
    cursor: pointer;
     margin: 0 12px 0 4px;
}

/* NAV */

nav {
    height: 110px;
    width: 100%;
    margin-bottom: 50px ;
    display: flex;
    align-items: center;
    padding: 0 12px;
    justify-content:space-between;
    background-color: var(--nc);
    border-bottom: 3px solid;
}



/* BODY */
body {
    background-color: var(--bc);
}

.homepage {
    display: flex;
    flex-direction: row;
    
}

.title {
    font-size: 65px;
    text-align: center;
    margin-bottom: 0px;
    
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 40px;
    text-shadow:0px 8px 8px rgba(0, 0, 0, 0.488);
}

.quiz {
    display: flex;
    flex-direction: column;
    width: 50%;
}

figure {
    height: 100px;
    width: 100px;
    margin-top: 14px;
}


.img {
    width: 100%;
}

.img__wrapper--history {
     height: 50px;
     width: 50px;
     margin-bottom: 64px;
}

.img__history {
    width: 100%;
}

.subjects {
    width: 95%;
    margin: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subject {
    width: 100%;
    height: 100px;
    margin: 40px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 300ms ease;
    border-radius: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.596);
    border: solid 3px;
    
}

.subject:hover {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9)
}



.subject__title {
    color: #FDFFFC;
    font-size: 38px;
    font-weight: bold;
}

.geography {
    background-color: var(--gc);
}

.history {
    background-color: var(--hc);
    margin-top: 100px;
}




/* LEADERBOARD */

li {
    list-style-type: none;
    font-size: 20px;
}

.leaderboard {
    
    margin-bottom: 100px;
    width: 60%;
    height: 40%;
    border-radius: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.699);
    
}



.leaderboard__title {
    font-size: 20px;
    font-weight: bold;
    color:black
}



.leaderboards {
    width: 50%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#geoLeaderboard, #histLeaderboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

#histLeaderboard {
    background-color: var(--hc);
    border-radius: 25px;
    border: solid 3px;
}

#geoLeaderboard {
    background-color: var(--gc);
    border-radius: 25px;
    border: solid 3px;
}

.positions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.one, .two, .three {
    padding: 4px;
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
    margin: 16px 8px;
    text-align: center;
    font-size: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.699);
    
}

.one {
    background-color: rgb(244, 216, 6);
    color: white;
}

.two {
    background-color: rgb(216, 213, 213);
    color: white;
}

.three {
    background-color: rgb(235, 163, 9);
    color: white;
}

ol {
    height: 186px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.leaderboard__header, .leaderboard__header--history {
    background-color: #FDFFFC;
    border: solid 3px ;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.699);
}

.leaderboard__header--history {
    background-color: #FDFFFC;
    border: solid 3px ;
}

.leaderboard__title {
    color: #161925;
}

li {
    background-color: #FDFFFC;
    border-radius: 25px;
    padding: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.699);
    font-weight: bold;
    color: black;
    font-size: 20px;
    
}
