@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");


:root{
  --background-color:rgb(247, 246, 248);
  --box-color: rgb(253, 255, 255);
}

*{
  background-color: var(--background-color);
  color:black;
  font-family: 'Kanit';
}

#question-container {
  display:flex;
  justify-content: center;;
  border: 1px solid;
  padding:10px;
  width: 60vw;
  margin:20px auto;
}

#question{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color :black;
  width:70vw;
  height: 20vh;
  background-color: rgba(11, 209, 11, 0.795);
  margin: 20px auto;
  border-radius: 10px;
}



.answer-grid {
margin: 20px auto;
width:50vw;
height:40vh;
display:grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;
color: white;
}

.btn {
  background-color: blue;
  padding: 10px;
  font-size:x-large;
  border: 1px solid;
  width: 25vw;
  height: 15vh;
  border-radius: 10px;
  outline: none;
  justify-content: center;
}

.btn.correct {
  background-color: green;
}

.btn.incorrect {
  background-color: red;
}


.btn:hover {
  border-color: black;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

#next-btn {
  width: 30vw;
  height: 10vh;
}

.hide {
  display: none;
}

.countdown{
  animation: countdown 5s linear;
  justify-content:right;
 
}

#countdown-number {
  color: black;
  font-size: xx-large ;
  
}

#question.hide,
#question-container.hide,
#answer-buttons.hide {
display: none;
}

nav {
  height: 100px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    background-color: #FFE70C;
}

.username-container {
  height: 100px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    background-color: #FFE70C;
}

#userName{
  margin-right: 30px;
  margin-left:30px;
  color:black;
  background-color:#FFE70C ;
}

#score {
  margin-right: 30px;
  margin-left:30px;
  color:black;
  background-color:#FFE70C ;
}


#highScore {
  text-align: center;
  background-color:#FFE70C ;
}

