@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  color:black;
  font-family: 'Kanit';
}
body{

  
}

#question-container {
  display:flex;
  justify-content: center;;
  border: 1px solid;
  padding:10px;
  width: 60vw;
  margin:20px auto;
  color: white;
  align-items: center;

}

#question{
  display: flex;
  align-items: center;
  color :black;
  width:750px;
  height: 150px;
  box-shadow: 4px 8px 16px rgba(0, 10, 0, 0.699);
  background-color: #A3F07E;
  margin: 20px auto;
  margin-left: 415px;
  border-radius: 10px;
  justify-content:center;
}


.answer-grid {
margin: 30px auto;
margin-right: 60px; 
width:50vw;
height:30vh;
display:grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;
}

.btn {
  background-color: #4CDFD7;
  font-size:x-large;
  width: 25vw;
  height: 15vh;
  box-shadow: 4px 8px 16px rgba(0, 10, 0, 0.699);
  border-radius: 10px;
  justify-content: center;
}

.btn.correct {
  background-color:#4CDFD7;
}

.btn.incorrect {
  background-color: #3071EF;
}

.btn:hover {
  border-color: black;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#next-btn {
  width: 30vw;
  height: 10vh;
  
}

#return-to-home {
  margin-left: 25px;
}
#start-btn {
  margin-left: 30px;
}

.hide {
  display: none;
}

.countdown{
  animation: countdown 5s linear;
  position: bottom;
 
 
}

#countdown-number {
  color: black;
  font-size: xx-large ;
  position: bottom;
  margin-left: 30px;
  
}

#question.hide,
#question-container.hide,
#answer-buttons.hide {
display: none;
}

.username-container {
  height: 80px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    padding: 10px 12px;
    background-color: #FFE70C;
}

#userName{
  margin-right: 10px;
  margin-left:30px;
  justify-items: center;
  align-items: center;
  color:black;
  font-size: 25px;
  width: 160px;
  height: 60px;
  border-radius: 10px;
  border-color: black;
  background-color:White ;
  box-shadow: 4px 4px 4px rgba(0, 10, 0, 0.699);
}

#score {
  margin-right: 30px;
  margin-left:10px;
  justify-content: center;
  align-items: center;
  color:black;
  font-size: 20px;
  width: 180px;
  height:60px;
  border-radius: 10px;
  border-color: black;
  background-color:white ;
  box-shadow: 4px 4px 4px rgba(0, 10, 0, 0.699);
}

#highScore {
  text-align: center;
  background-color:#FFE70C ;
  justify-content: right;
}
